RewriteEngine on

RewriteRule ^php - [F]

RewriteRule ^$ /index.php?action=posts [L,QSA]
RewriteRule ^post/([^/]+)/.*/?$ /index.php?action=post&post_id=$1 [L,QSA]
RewriteRule ^search/?$ /index.php?action=search [L,QSA]

RewriteRule ^archive/?$ http://noonat.tumblr.com/archive [R]
RewriteRule ^rss/?$ http://noonat.tumblr.com/rss [R]
